.userprofile-loader-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.userProfile-failure-view {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
